path { 
    stroke: gray;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line
{
    fill: none;
    stroke: gray;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
}

/*.tooltipsvg {
  opacity:0.2;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(1,1,1,0.3);
  color: #fff;
  border-radius: 2px;
}*/

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 10px sans-serif;
  background-color: white;
  border: solid 3px #aaa;
  border-radius: 15px;
  pointer-events: none;
}

.g_main {
	cursor:pointer;
	pointer-events: all;
}
  
.circle {
  position: relative;
}

/*div.tooltip { 
    position: absolute;     
    text-align: center;     
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}*/


.pieChart__blue {
  fill: #6bb7c7; }

.pieChart__red {
  fill: #d79d91; }

.pieChart__orange {
  fill: #c78c4e; }

.pieChart__yellow {
  fill: #c7bb2d; }

.pieChart__green {
  fill: #26c73a; }

.pieChart__purple {
  fill: #7f44c7; }

.pieChart__navy {
  fill: #1187c7; }